// 颜色配置
$background-color-001528: #001528;
$background-color-1E90FD: #1E90FD;
$background-color-000C17: #000C17;
$background-color-00213F: #00213F;
$background-color-FFFFFF: #FFFFFF;
$background-color-41B883: #41B883;
$background-color-EEEEEE: #EEEEEE;
$background-color-FC4646: #FC4646;

$text-color-fff: #FFFFFF;
$text-color-41b883: #41b883;
$text-color-99A9C0: #99A9C0;
$text-color-ABABAB: #ABABAB;
$text-color-595959: #595959;
$text-color-B2B9BE: #B2B9BE;
$text-color-1C2438: #1C2438;
$text-color-80848f: #80848f;

$border-color-EEEFF1: #EEEFF1;
$border-color-DCDDE0: #DCDDE0;
$border-color-e9eaec: #e9eaec;

// 宽、高配置
$height-35: 35px;
$height-64: 64px;

$width-35: 35px;

// 字体大小
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-45: 45px;

.bg-color-FFFFFF{
    background-color: $background-color-FFFFFF;
}